# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles
/media

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
pyrightconfig.json

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Environment
.env
.env.local

# Other
TODOS
*.md
!README.md
