{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/home_page.css' %}">
    
</head>
<body>
    <header>
        <h1>Welcome to ChatApp</h1>
    </header>
    <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/dashboard">Dashboard</a>
    </nav>
    <div class="container">
        <h2>ChatApp: Connect with your friends!</h2>
        <p>Your go-to platform for seamless communication.</p>

        <a href="/login" class="btn">Login</a>
        <a href="/register" class="btn">Register</a>

        <div class="dashboard">
            <p>Already logged in? Head to your <a href="/dashboard">Dashboard</a>.</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 ChatApp. All rights reserved.</p>
    </footer>
</body>
</html>
