{% load static %}
<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>


    <style>
      #chat-log {
        height: 300px;
        width: 800px;
        overflow-y: auto;
        background: #f0f0f0; /* light background */
        color: black;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
      }
    </style>

  </head>

  <body>
    <ul id="chat-log">
      {% for msg in messages %}

      <li data-time="{{ msg.timestamp|date:'c' }}">
        <strong>{{ msg.user.username }}</strong>: {{ msg.content }}
      </li>
      {% endfor %}
    </ul>

    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
    {{ room_name|json_script:"room-name" }}

    <script>
        const my_id = {{request.user.id}}
    </script>
    <!--
      The query parameter is just for forcing the browser to reload the script
      and should be REMOVED IN PRODUCTION
    -->
    <script src="{% static 'chat/room.js' %}?{% now "U" %}"></script>

  </body>
</html>
