{% extends 'chat/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="chat-layout">
      <!-- Sidebar -->
      {% include 'chat/partials/sidebar_profile.html' %}

      <!-- Main Content -->
      <div class="chat-area">
        <div class="chat-header">
          <h3>My Profile</h3>
        </div>
        
        <div class="chat-messages flex-center">
            <div class="auth-container mw-500" style="margin: 0;">
                <div class="text-center mb-2">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="Avatar" class="avatar-profile">
                    {% else %}
                        <div class="avatar-profile-placeholder">
                            {{ user.username|slice:":1"|upper }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <div class="form-control">{{ user.username }}</div>
                </div>
                <div class="form-group">
                    <label>Full Name</label>
                    <div class="form-control">{{ user.full_name }}</div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="form-control">{{ user.email }}</div>
                </div>
                <div class="form-group">
                    <label>Joined</label>
                    <div class="form-control">{{ user.date_joined|date:"F j, Y" }}</div>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}
