<!DOCTYPE html>
<html>
<head>
    <title>Friend List</title>
    <style>
        .user-card {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 8px 0;
            border-radius: 8px;
        }
        .status {
            font-size: 14px;
            color: #555;
        }
        .friend { color: green; }
        .pending { color: orange; }
        .not-friend { color: red; }
        tr, td{
        margin: 10px;
        }

    </style>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


    <table border="1" cellpadding="5" cellspacing="3" class="datatable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            
        {% for item in adding %}
        <tr>
            <td>{{ item.user.username }}</td>



            {% if item.friend %}
                <td class="status friend">Friends</td>

            {% elif item.is_pending and  item.requested %}
                <td class="status pending">Pending</td>

            {% elif  not item.is_pending and item.requested %}
                <td>
                    <a href="/friends/accept/{{item.request_id}}">Accept Request</a>
                </td>

            {%elif not item.requested %}
            <td>
                <a href="/friends/add/{{item.user.id}}">Add Friend</a>
            </td>

            {% endif %}
            
        {% endfor %}
        </tr>
        </tbody>
    </table>
<script>
    $(document).ready(function () {
        $('.datatable').DataTable();
    });
</script>

</body>
</html>
